/*Включить Архив Записей*/ 
._wall_tab_archive { 
display: block; 
margin: 0px 70px; 
} 
.ui_actions_menu_wrap._ui_menu_wrap.wk_wall_archive__tabs_menu { 
top: -15px; 
} 
.ui_actions_menu_wrap._ui_menu_wrap.wk_wall_archive__month_menu { 
top: 0px; 
} 
.wk_wall_archive__posts:not(.no_rows) { 
background: #fff; 
} 
.box_title, .box_title_wrap.box_grey .box_title { 
font-size: 12.5px; 
} 