body {
    overflow: inherit;
}

.snowflake {
    position: fixed;
    top: -10px;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite;
	display: block; /* Скрываем снежинки по умолчанию */
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(100vh);
    }
}